.header{
    color: #fff;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.header__info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__info >h4{
    margin-right:10px;
}

.header__input{
    display: flex;
    align-items: center;
}

.header__input>input{
    border:none;
    background-color: transparent;
    outline-width: 0;
    color:#fff;
}
.header__input>button{
    padding: 6px;
    margin: 5px 10px 2px 0;
    background-color:#2d9cfc;
    border-width: 0;
    border-radius: 2px;
    color: #fff;
}