
.contact{
   width: 100%;
   height: 100%;

   border-right:0.5px  solid #838486;
   border-left:0.5px  solid #838486;
   border-top:0.5px  solid #838486;
   
   border-radius:10px ;
}
.contact__info{
    width: 100%;
    height: 100%;
 
   display: grid;
   grid-template-rows: 40% 60%;
}
.image_container{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 20% 80%;

}
.image_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image_header>h6{
   color:#fff;
   font-weight: 400;
}

.candidate_list{
    display: grid;
    grid-template-rows:20% 80%;
}

.contact__header{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.contact__header>.MuiSvgIcon-root{
    color:#fff;
}
.contact__header>h4{
    color:#fff;
    font-weight: 600;
}
.to_contact{
    width: 100%;
    height: 95%;

    overflow-x:hidden;
    overflow-y: auto;
}








